body {
    font-family: sans-serif;
}

section {
    padding: 20px;
    text-align: center;
}

section input {
    margin-right: 5px;
}

input {
    padding: 10px;
}

article {
    padding: 10px;
}

button {
    background-color: #ffe88280;
    padding: 10px;
    border: 2px solid #ffe882;
}

button:hover {
    cursor: pointer;
}

#timers div {
    padding: 10px;
}